<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100 mt-5">
            <div class="col-lg-10 col-xl-8">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-header px-4 py-5">
                        <h5 class="text-muted mb-0">Thank you for your Order, <span
                                style="color: #1867C2;">{{user.fname}} {{user.lname}}</span>!
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="" style="color: #1867C2;">Receipt</p>
                        </div>
                        {{#if orders}}
                        {{#each orders}}
                        {{#if this.coupon}}
                        {{#each this.products}}
                        <div class="">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="{{this.image.[0]}}" class="img-fluid" alt="Phone">
                                </div>
                                <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                                    <h5 class="text mb-0">{{this.product}}</h5>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text mb-0 small"><b>Brand: <br> {{this.brand}}</b></p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text mb-0 small"><b>Quantity: <br>{{this.quantity}}</b></p>
                                </div>
                                {{/each}}

                                {{#if this.totalAmount}}
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text mb-0 small"><b>Amount: <br>{{this.totalAmount}}</b></p>
                                </div>
                                {{else}}
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text mb-0 small"><b>Amount: <br>{{this.offerprice}}</b></p>
                                </div>
                                {{/if}}
                            </div>
                            <div class="row d-flex align-items-center">
                                <div class="col-md-6">
                                    <br>
                                    <p>{{this.deliveryDetails.fullname}}</p>
                                    <p>{{this.deliveryDetails.address}}</p>
                                </div>
                                <div class="col-md-2">
                                    <p class="text mb-0 small">Date</p>
                                    <p>{{this.displayDate}}</p>
                                </div>
                                <div class="col-md-2">
                                    <p class="text mb-0 small">Payment :</p>
                                    <p>{{this.paymentMethod}}</p>
                                </div>
                                <div class="col-md-2">
                                    <p class="text mb-0 small">Status</p>
                                    <p>{{this.status}}</p>
                                </div>
                            </div>
                            <div class="buttons d-flex justify-content-end mt-0">
                                {{#ifCheck status 'delivered'}}
                                <button type="button" class="btn btn-primary"
                                    onclick="returnProducts('{{this._id}}','{{this.products.item}}')">Return
                                    Product</button>
                            </div>
                            {{/ifCheck}}
                            <div class="buttons d-flex justify-content-end">
                                {{#ifCheck status 'delivered'}}
                                {{/ifCheck}}
                                {{#ifCheck status 'canceled'}}
                                {{/ifCheck}}
                                {{#ifCheck status 'pending'}}
                                <button id="status-button" onclick="cancelOrders('{{this._id}}')"
                                    class="btn btn-danger">Cancel
                                    Order</button>
                                {{/ifCheck}}
                                {{#ifCheck status 'placed'}}
                                <button id="status-button" onclick="cancelOrders('{{this._id}}')"
                                    class="btn btn-danger">Cancel
                                    Order</button>
                                {{/ifCheck}}
                                {{#ifCheck status 'shipped'}}
                                <button id="status-button" onclick="cancelOrders('{{this._id}}')"
                                    class="btn btn-danger">Cancel
                                    Order</button>
                                {{/ifCheck}}
                            </div>
                        </div>
                        {{#ifCheck status 'delivered'}}
                        <a href="/invoice/{{this._id}}" style="text-decoration: none;">View invoice</a>
                        {{/ifCheck}}
                        <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">

                        {{else}}
                        {{#each this.products}}
                        <div class="">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="{{this.image.[0]}}" class="img-fluid" alt="Phone">
                                </div>
                                <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                                    <h5 class="text mb-0">{{this.product}}</h5>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text mb-0 small"><b>Brand: <br> {{this.brand}}</b></p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text mb-0 small"><b>Quantity: <br>{{this.quantity}}</b></p>
                                </div>

                                {{#if this.totalAmount}}
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text mb-0 small"><b>Amount: <br>{{this.totalAmount}}</b></p>
                                </div>
                                {{else}}
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text mb-0 small"><b>Amount: <br>{{this.offerprice}}</b></p>
                                </div>
                                {{/if}}
                            </div>
                            <div class="row d-flex align-items-center">
                                <div class="col-md-6">
                                    <br>
                                    <p>{{../deliveryDetails.fullname}}</p>
                                    <p>{{../deliveryDetails.address}}</p>
                                </div>
                                <div class="col-md-2">
                                    <p class="text mb-0 small">Date</p>
                                    <p>{{../displayDate}}</p>
                                </div>
                                <div class="col-md-2">
                                    <p class="text mb-0 small">Payment :</p>
                                    <p>{{../paymentMethod}}</p>
                                </div>
                                <div class="col-md-2">
                                    <p class="text mb-0 small">Status</p>
                                    <p>{{this.status}}</p>
                                </div>

                            </div>

                            <div class="buttons d-flex justify-content-end mt-0">
                                {{#ifCheck status 'delivered'}}
                                <button type="button" class="btn btn-primary"
                                    onclick="returnProduct('{{../_id}}','{{this.item}}')">Return Product</button>
                            </div>

                            {{/ifCheck}}
                            <div class="buttons d-flex justify-content-end">
                                {{#ifCheck status 'delivered'}}
                                {{/ifCheck}}
                                {{#ifCheck status 'canceled'}}
                                {{/ifCheck}}
                                {{#ifCheck status 'pending'}}
                                <button id="status-button" onclick="cancelOrder('{{../_id}}','{{this.item}}')"
                                    class="btn btn-danger">Cancel
                                    Order</button>
                                {{/ifCheck}}
                                {{#ifCheck status 'placed'}}
                                <button id="status-button" onclick="cancelOrder('{{../_id}}','{{this.item}}')"
                                    class="btn btn-danger">Cancel
                                    Order</button>
                                {{/ifCheck}}
                                {{#ifCheck status 'shipped'}}
                                <button id="status-button" onclick="cancelOrder('{{../_id}}','{{this.item}}')"
                                    class="btn btn-danger">Cancel
                                    Order</button>
                                {{/ifCheck}}
                            </div>
                        </div>
                        {{#ifCheck status 'delivered'}}
                        <a href="/invoice/{{../_id}}" style="text-decoration: none;">View invoice</a>
                        {{/ifCheck}}

                        <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">

                        {{/each}}

                        {{/if}}
                        {{/each}}
                        {{else}}
                        <h2 class="fw-bold text-danger">Order list is Empty...!</h2>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>